@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #272727;
}

@theme {
  --color-primary: #4ff8d2;
  --color-secondary: #121b22;
  --color-black: #272727;
  --color-white: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
}

body {
  box-sizing: border-box;
  font-size: 16px;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}
