@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #272727;
}

@theme {
  --color-primary: #60ac31 ;
  --color-secondary: #70A433;
  --color-black: #2c3642;
  --color-white: #fffdf1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-zenkaku: var(--font-zenkaku);
}

body {
  box-sizing: border-box;
  font-size: 16px;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-zenkaku), Arial, Helvetica, sans-serif;
}
